.name {
  text-align: left;
}
.date {
  text-align: right;
}
h2 {
  background-color: lightgray;
  clear: left;
}
footer {
  border-top: 1px solid black;
}
span {
  position: absolute;
  right: 1%;
}
.skills div {
  width: 200px;
  height: 250px;
  float: left;
}
