.name {
  text-align: left;
}
.date {
  text-align: right;
}
h2 {
  background-color: lightgray;
}
footer {
  border-top: 1px solid black;
}
span {
  position: absolute;
  right: 1%;
}
